@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12 main-menu">
        <h2>Retrospective meeting</h2>
        <ul class="main-menu-option-list">
            <li><a class="btn btn-primary" href="/Board/Display">New board</a></li>
        </ul>
    </div>
</div>
